html body.resume  {
	background: white;
	padding: 0;
    margin: 0.9in 0.63in;;
}

html body.resume #container {
    width: auto;
}

#toolbar {
    display: none;
}

html body.resume #page {
    background: none;

    box-shadow: none;
    padding: 0;
    width: auto;
    height: auto;
    margin: 0;
}

body.resume div#container  {
    width: auto;
    height: auto;
}