html body.resume  {
	background: red;
	padding: 0;
    margin: 0.95in 0.7in;
    overflow: hidden;
}

html body.resume #container {
    width: auto;
}

#contact li a {
    color: black;
}

#toolbar {
    display: none;
}

html body.resume #page {
    background: white;

    box-shadow: none;
    padding: 0;
    width: auto;
    height: auto;
    margin: 0;
}

body.resume div#container  {
    width: auto;
    height: auto;
}
